*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(241, 241, 241, 0.434);
}

.modal-body{
  display: flex;
  flex-direction: column;
}

.modal_create{
  margin-bottom: 1rem;
}

#insta_avatar{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#insta_nick{
  font-weight: 600;
}

#insta_like{
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 1rem;
}

#insta_repost{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

#insta_comment{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

#insta_save{
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}


.side-navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 20%;
  border-right: 0.01rem solid rgba(0, 0, 0, 0.185);
}

.sidebar_logo{
  width: 7rem;
  height: 4;
  margin-left: 1.5rem;
}

.sidebar_btns{
  width: 100%;
  height: 80%;
}

.btn_log-out{
  height: 5%;
}
.sidebar_btn{
  margin-bottom: 2rem;
  border: none;
  background-color: white;
  width: 80%;
  height: 7%;
  font-size: 1.09rem;
  text-align: start;
  margin-left: 1.5rem;
}
.sidebar_btn:hover{
  background-color: rgba(183, 183, 183, 0.062);
  border-radius: 1rem;
}

.sidebar_icon{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.8rem;
  transition: 0.1s;
} 

#sidebar_avatar{
  border-radius: 50%;
}

#btn_log-out{
  margin-bottom: 0;
}

#btn_log-out:hover{
  background-color: transparent;
}

.cont_story{
  width: 27rem;
  height: 6rem;
  border: 1px solid rgba(0, 0, 0, 0.231);
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: white;
}